@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;400;700&display=swap");

/* #42A5F5 */

@layer utilities {
  .container1 {
    @apply mx-12 px-2;
  }
}

*{
  scroll-behavior: smooth;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto;

}

@font-face {
  font-family: DroidSansMono;
  src: url("../public/font3/font3.otf");
}


@layer base {
  * {
    @apply select-none;
    /* font-family: "DroidSansMono", sans-serif; */
  }

}


.menu-icon {
  fill: white;
}



.brands_slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.slider_title {
  text-shadow: 3px 3px 2px #ffffff !important;
}
